<a href="https://colab.research.google.com/github/chacha715/ESAA_OB/blob/main/p1_%EA%B2%A9%EC%9E%90%EA%B3%B5%EA%B0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

import os
os.chdir("/content/drive/MyDrive/ESAA/23-1/DATA/물류 유통량 예측 경진대회/") # working directory 설정

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [16]:
train = pd.read_csv("train.csv", encoding='utf-8')
test = pd.read_csv("test.csv", encoding='utf-8')

In [30]:
train.head()

   index      송하인_격자공간고유번호      수하인_격자공간고유번호 물품_카테고리  운송장_건수
0      0  5011000595017300  2871000192069300      음반       3
1      1  4148000690043300  5011000264024400   문화컨텐츠       3
2      2  5011000078068400  1120000007005400     농산물       3
3      3  4127100048006400  5011000587019400    기타식품       7
4      4  5011000078068400  2823700010076300     농산물       3

In [25]:
info_1000 = pd.read_csv("TC_NU_SPG_1000_METER.csv", encoding='utf-8')
info_50 = pd.read_csv("TC_NU_SPG_50_METER.csv", encoding='utf-8')
info_grid = pd.read_csv("TC_NU_FDS_GRID.csv", encoding='utf-8')

In [38]:
info_50.iloc[30000:30005]

               격자공간고유번호   격자공간명  시군구코드 시군구명  격자공간사이즈
30000  1121500003001100  다사6351  11215  광진구       50
30001  1121500003001200  다사6351  11215  광진구       50
30002  1121500003001300  다사6351  11215  광진구       50
30003  1121500003001400  다사6351  11215  광진구       50
30004  1121500003002100  다사6351  11215  광진구       50

In [26]:
info_1000.nunique()

격자공간고유번호    108425
격자공간명       107555
시군구코드          251
시군구명           228
dtype: int64

In [27]:
info_50.nunique()

격자공간고유번호    43370000
격자공간명         107555
시군구코드            251
시군구명             228
격자공간사이즈            1
dtype: int64

In [28]:
info_grid.nunique()

격자공간고유번호    43370000
격자공간명         107555
시군구코드            251
시군구명             228
격자공간사이즈            1
융합격자명              1
dtype: int64